# Terraform files
.terraform/
.terraform.lock.hcl
terraform.tfstate
terraform.tfstate.*

# IDE and editor files
.vscode/
.idea/
*.swp
*.swo

# Python
__pycache__/
.pytest_cache/
.venv/

# Custom Library of Shared Python Dependencies
sports_predictor_library.egg-info/

# Build and output files
dist/
build/
